.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#plotarea {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 0px;
}

#datashowarea {
  display:block; 
  overflow:auto; 
  height: 250px;
}

#buttonsundergraph {
  text-align: center;
}

.selectors {
  font: 12px sans-serif;
}

.selectors select {
  width: 200px;
  margin-left: 0px;
}

#stateinputplaceholder {
  width:200px; 
  margin:0px;
}

.tallselector {
  height: 180px;
}

.selectors h4 {
  display:inline-block;
  font-weight: normal;
  width: 130px;
  margin: 0px;
}

.selectors button {
  width: 130px;
}

.waiting-caption {
  position:absolute;
  opacity: 0.5; 
  width: 1000px;
  height: 470px;
  /*margin-top:100px; 
  margin-left:200px; */
  font-size:16pt; 
  background: white;
  text-align: center;
}

.graph-title {
  fill: black;
  font: 20px Arial;
}

.leglabel {
  font: 14px sans-serif;
}

.xaxislabel {
  font: 16px sans-serif;
}

.legtitle {
  font: 16px sans-serif;
}